# Ignora arquivos de configuração sensíveis
.env
*.env

# Ignora chave de API hardcoded (separar em env ou config)
*.secret
*.key

# Ignora pastas locais com dados
docs/
__pycache__/
*.sqlite3
*.db

# Evita subir caches e configurações do VS Code
.vscode/
*.log

# Ignora arquivos de execução temporária
temp.*